<% historico.forEach(function(hist){ %>
    <tr>
      <td><%= hist.idBike %></td>
      <td><%= hist.dataHoraAluguel %></td>
      <td><%= hist.dataHoraDevolucao %></td>            
    </tr>
  <% }); %>